.flex-container {
	display: flex;
	flex-wrap: wrap;

	width: 95vw;
	margin: 0 auto 1rem;
	border: 2px solid red
}

.list {
	background-color: var(--secondary-bg-color);
	border-radius: 5px;
	border: 2px solid green
}