h1 {
	color: #000;
	margin: 40px auto;
	text-align: center;
}


.list-container {
	max-width: 700px;
	margin: 0 auto;
}

.list {
	position: relative;
	max-height: 100px;
	overflow: hidden;
	margin: 1rem 0;
	padding: 10px;
	background-color: var(--secondary-bg-color);
	border-radius: 5px;
	box-shadow: 4px 6px 18px 0px rgba(0, 0, 0, 0.4);
	transition: .3s ease-in-out;
}

.list.active {
	max-height: 90vh;
	overflow-y: auto;
}

.list h3 {
	font-size: 1.4rem;
	text-align: center;
	margin: 25px auto 50px;
	letter-spacing: .08rem;
}

.drop-btn {
	cursor: pointer;
	top: 30px;
	left: 30px;
	position: absolute;
	font-size: 2rem;
	transition: .15s ease-in;
}

.drop-btn:hover {}

.list.active .drop-btn {
	transform: rotate(180deg);
}

.list p {
	opacity: .9;
	line-height: .8;
}

.list p i {
	font-size: 1.2rem;
}

.list p i.la-star {
	color: rgb(255, 225, 89)
}

.list p i.la-fire-alt {
	color: rgb(255, 148, 77)
}