@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
	--main-bg-color: #d6d6d6;
}

* {
	box-sizing: border-box;
}

/* scrollbar CHROME*/
::-webkit-scrollbar {
	width: 8px;
	margin: 2px
}

::-webkit-scrollbar-track {
	background: rgb(46, 46, 46);
}

::-webkit-scrollbar-thumb {
	background: rgb(119, 119, 119);
	border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(80, 80, 80);
}




body {
	background-color: var(--main-bg-color);
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.container {
	background-color: rgb(20, 20, 20);
	border-radius: 5px;
	width: 95vw;
	margin: 0 auto 1rem;
	box-shadow: 4px 6px 18px 0px rgba(0, 0, 0, 0.4);
}



/* Top container */

.top-container {
	display: flex;
	padding: .6rem 1rem;

}

.top-container .title {
	margin: 0;
	line-height: 1.4;
}



/* Radio buttons */
.radio-box {
	margin: auto 2.5rem auto 0;
	text-align: center;
	line-height: 2;
}

.radio-box h4 {
	margin: 0 auto 1rem;
}

.radio-box label {
	position: relative;
	cursor: pointer;
}

input.radio {
	position: absolute;
	opacity: 0;
}

input.radio+span {
	color: #838383;
	background-color: #3b3b3b;
	padding: .25rem .5rem;
	margin: 0 .15rem;
	border-radius: 50vh;
	transition: all 0.4s;
	white-space: nowrap;
}

input.radio:checked+span {
	color: #fff;
	background-color: #727272;
}




/* Search bar */
.search-box {
	margin-left: auto;
	white-space: nowrap;
}

.search {
	margin-left: .5rem;
	position: relative;
}

.search::after {
	color: rgba(255, 255, 255, 0.918);
	text-align: left;
	position: absolute;
	content: attr(data-value);
	left: 85%;
	top: 50%;
	transform: translateY(-50%)
}

.search input {
	background-color: rgba(255, 255, 255, 0.178);
	border: 0;
	border-radius: 5px;
	color: #FFF;
	font-size: 1rem;
	padding: 9px 12px;
}

.search-term:focus {
	background-color: rgba(255, 255, 255, 0.4);
	outline: none;
}

::placeholder {
	font-family: inherit;
	color: rgba(255, 255, 255, 0.699);
}




.composer-container {

	/* display: flex;  ask discord*/
	/* border-radius: .5rem; */

	height: 1600px;

	/* border: 3px solid rgb(126, 239, 243); */
	position: relative;
	overflow: hidden;
	padding: 0;
}

.vertical-line {
	position: absolute;
	color: rgb(92, 92, 92);
	border-left: 1px solid rgb(71, 71, 71);
	height: 100%;
	z-index: 0;
	overflow: visible;
}

.card {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 90vw;
	max-width: 800px;
	max-height: 85vh;
	color: rgb(255, 255, 255);
	margin: 1rem 2.5%;
	padding: .7rem .7rem 1.4rem;
	border-radius: 3px;
	z-index: 100;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.178);
	overflow-y: auto;
}

.card-header {
	display: inline-block;
	display: flex;
	width: 100%;
}

.card-header .tag {
	background-color: #3b3b3b;
	font-weight: 300;
	color: #cacaca;
	font-family: inherit;
	font-size: .8rem;
	border-radius: 3px;
	margin: .5rem .5rem auto .6rem;
	padding: .2rem .4rem
}

.card-header .close-btn {
	font-size: 2.5rem;
	margin: 0 0 0 auto;
	color: #9b9b9b;
}

.close-btn:hover {
	cursor: pointer;
	color: #fff;
}

.card-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-main {
	margin: 1rem auto 0
}

.card-name {
	letter-spacing: .1rem;
}

.card-birth-death {
	font-weight: 300;
	opacity: .9;
	font-style: italic;
}

.card-epoch {
	font-weight: bold;
}

.card-secondary {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
}

.card-portrait {
	width: 200px;
	height: 200px;
	border-radius: 100vw;
	border: 2px solid #cacaca
}

.card-wiki {
	line-height: 1.5;
	font-weight: 300;
	opacity: .8;
}

.card-wiki a {
	color: rgb(216, 146, 54);
	font-weight: 400;
	text-decoration: none;
}

.card-wiki a:visited {
	color: rgb(122, 77, 17);
	opacity: .7;
	font-weight: 400;
	text-decoration: none;
}

.show-compositions {
	cursor: pointer;
	outline: 0;
	color: rgb(0, 0, 0);
	background-color: #dadada;
	font-family: inherit;
	margin: auto;
	font-weight: 400;
	line-height: 1.5;
	border: none;
	padding: .4rem .8rem;
	font-size: 1rem;
	border-radius: 3px;
}

.show-compositions:hover {
	color: #fff;
	background-color: #252525;
}

.composer {
	position: absolute;
	height: 4px;
	text-align: left;
	transition: box-shadow .7s ease, background-color .7s ease;
	border-radius: 100vh;
}

.composer.matching {
	z-index: 100;
	height: 5px;
	outline: 2px solid #fff;
	outline-offset: 2px;
}

.composer:hover {
	cursor: pointer;
	box-shadow: 0 0 15px #FFF;
	transition-duration: 0s;
	z-index: 50
}

.composer .name {
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
	text-shadow: 1px 1px 14px rgba(0, 0, 0, 1);
	opacity: 0;
	font-size: 1rem;
	transition: .4s ease-out;
}

.composer .name:hover {
	padding-top: 8px;
	padding-left: 6px;
	opacity: 1;
	transition-duration: .15s
}

@media (max-width: 1040px) {
	.top-container .title {
		display: none;
	}
}

@media (max-width: 750px) {
	.top-container {
		flex-direction: column-reverse;
	}

	.search-box {
		margin: auto
	}

	.radio-box {
		margin: .5rem 0 0
	}
}

@media (min-width: 740px) {


	.card {
		position: fixed;
		margin: 2rem 2.5%
	}

	.card-content {
		flex-direction: row;
	}

	.card-main {
		margin-left: 3rem;
		margin-right: 3rem;
	}
}

@media (max-width: 530px) {
	.card-portrait {
		width: 120px;
		height: 120px;
	}


}